<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">Add R.E.I.T.</h5>
          </div>
          <div class="card-body">

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-danger" [disabled]="!addDocumentFrm.form.valid">
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="col-4" *ngFor="let reit of reits">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <h5 class="card-title">{{reit.name}} - {{reit.isVerified ? "Verified" : "Pending"}}</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{reit.address}}</h6>
            <p class="card-text">
              IPFS Hash: <a href="javascript:void(0)" (click)="onIpfsClick(reit.name, reit.ipfsHash)">{{reit.ipfsHash}}</a>
            </p>
            <p class="card-text">
              Type: {{reit.type}}
            </p>
            <p class="card-text">
              Verifier: {{reit.verifierName}} ({{reit.verifier}})
            </p>
            <p>Verifier Fee Paid: {{reit.verifierFee}} ETH</p>
          </div>
          <div class="card-footer" *ngIf="!reit.isVerified">
            <button class="btn btn-info" (click)="onDepositClick(reit.address)">Deposit Verifier Fee
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
